fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sentence-transformers
groq
qdrant-client
fastembed
langchain-core
langchain-google-genai
langchain-groq
langgraph
ragas
datasets
torchvision